/* #region Color */
:root{

--bg_hero: rgba(180, 208, 231, 1);
--button: rgba(0, 97, 255, 1);
--3rd_box: rgba(0, 147, 206, 1);
--7th_box_side: rgba(13, 36, 129, 1);
--2nd_box: rgba(97, 8, 43, 1);
--footer_text: rgba(115, 115, 115, 1);
--text_table: rgba(120, 134, 146, 1);
--1st_box: rgba(162, 211, 155, 1);
--1st_box_side: rgba(208, 233, 205, 1);
--5th_box: rgba(213, 0, 31, 1);
--line_near_footer: rgba(222, 222, 223, 1);
--box_lg: rgba(245, 245, 245, 1);
--4th_box: rgba(255, 28, 28, 1);
--8th_box: rgba(255, 216, 48, 1);

}

/* #endregion Color */



/* #region Reset_page */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* #endregion Reset_page  */

/*  #region Debug */

.bg_red{
    background-color: red;
}

.bg_green{
    background-color: green;
}

.bg_yellow{
    background-color: yellow;
}

.bg_purple{
    background-color: purple;
}

.bg_brown{
    background-color: brown;
}

.bg_blue{
    background-color: blue;
}

.h_50{
    height: 50px;
}

.h_100{
    height: 100px;
}

.h_150{
    height: 150px;
}

.h_200{
    height: 200px;
}

.h_300{
    height: 300px;
}


/*  #endregion Debug */

/* #region Utility */

.row{
    content: "";
    display: table;
    clear: both;
    width: 100%;
}

.left{
    float: left;
  }

.col_50{
    width: 50%;
}

.col_33{
    width: 33%;
}

.col_100{
    width: 100%;
}



/* #endregion Utility */

/* #region Header */



/* #endregion Header */