/* #region Color */
:root{

    --light:rgba(255,255,255,1);
    --dark:rgba(0,0,0,1);
    --bg_hero: rgba(180, 208, 231, 1);
    --button: rgba(0, 97, 255, 1);
    --3rd_box: rgba(0, 147, 206, 1);
    --7th_box_side: rgba(13, 36, 129, 1);
    --2nd_box: rgba(97, 8, 43, 1);
    --footer_text: rgba(115, 115, 115, 1);
    --text_table: rgba(120, 134, 146, 1);
    --1st_box: rgba(162, 211, 155, 1);
    --1st_box_side: rgba(208, 233, 205, 1);
    --5th_box: rgba(213, 0, 31, 1);
    --line_near_footer: rgba(222, 222, 223, 1);
    --box_lg: rgba(245, 245, 245, 1);
    --4th_box: rgba(255, 28, 28, 1);
    --8th_box: rgba(255, 216, 48, 1);
    
    }
    
    /* #endregion Color */
    
    
    
    /* #region Reset_page */
    
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    body{
        font-family: 'Open Sans', sans-serif;
    }
    /* #endregion Reset_page  */
    
    /*  #region Debug */
    
    .bg_red{
        background-color: red;
    }
    
    .bg_green{
        background-color: green;
    }
    
    .bg_yellow{
        background-color: yellow;
    }
    
    .bg_purple{
        background-color: purple;
    }
    
    .bg_brown{
        background-color: brown;
    }
    
    .bg_blue{
        background-color: blue;
    }
    
    .bg_pink{
        background-color: pink;
    }
    
    .h_100{
        height: 100px;
    }
    
    .h_150{
        height: 150px;
    }
    
    .h_200{
        height: 200px;
    }
    
    .h_250{
        height: 250px;
    }
    
    .h_300{
        height: 300px;
    }
    
    .h_500{
        height: 500px;
    }
    
    .h_700{
        height: 700px;
    }
    
    .h_900{
        height: 900px;
    }
    
    
    
    /*  #endregion Debug */
    

    /* #region Common */

    a{
        display: inline-block;
    }

    span{
        display: inline-block;
    }

    img{
        width: 100%;
    }
    /* #endregion Common */

    /* #region Utility */
    
    .row{
        content: "";
        display: table;
        clear: both;
        width: 100%;
    }
    
    .left{
        float: left;
    }
    /* #region Colour */
    
    .blue{
        color: var(--light);
        background-color: var(--button);
        
    }
    
    /* #endregion Colour */
    
    /* #region Text */

    .text_right{
        text-align: right;
    }

    /* #endregion Text */

    /* #region Margin */
    .margin_right_5{
        margin-right: 5%;
    }

    .margin_side_5{
        margin: 0 5%;
    }
    
    .margin_bottom_20{
        margin-bottom: 20px;
    }

    .margin_bottom_50{
        margin-bottom: 50px;
    }
    
    .margin_bottom_100{
        margin-bottom: 100px;
    }
    
    .margin_bottom_150{
        margin-bottom: 150px;
    }
    
    .margin_bottom_200{
        margin-bottom: 200px;
    }
    
    .margin_top_100{
        margin-top: 100px;
    }
    
    .margin_top_200{
        margin-top: 200px;
    }

    /* #endregion Margin */

    /* #region Padding */
    

    .padding_30_40{
        padding: 30px 40px;
    }

    .padding_bottom_50{
        padding-bottom: 50px;
    }
    
    .padding_top_100{
        padding-top: 100px;
    }

    .padding_top_200{
        padding-top: 200px;
    }
    
    
    /* #endregion Padding */
    
    /* #region Col */
    
    .col_20{
        width: 20%;
    }
    
    .col_30{
        width: 30%;
    }
    
    .col_35{
        width: 35%;
    }
    
    .col_40{
        width: 40%;
    }
    
    .col_50{
        width: 50%;
    }
    
    .col_65{
        width: 65%;
    }
    
    .col_100{
        width: 100%;
    }
    
    /* #endregion Col */
   
    /* #region Container */
    
    .container_lg{
        width: 80%;
        margin: 0 auto;
    }
    
    .container_sm{
        width: 80%;
        margin: 200px auto 0;
    }

    /* #endregion Container */

    /* #region Button */
    
    .button_sm{
        font-size: 18px;
        padding: 18px 25px;
        text-decoration: none;
    }

    .button_md{
        font-size: 22px;
        padding: 15px 30px;
        text-decoration: none;
    }

    /* #endregion Button */

    /* #region Position */

    .p_relative{
        position: relative;
    }

    /* #endregion Position */

    /* #endregion Utility */
    
    /* #region Header */
    
    .logo{
        width: 200px;
        display: inline-block;
        padding-right: 40px;
        vertical-align: middle;
        margin-top: -1px;
    }

    .logo>img{
        width: 100%;
    }

    .col_50>a{
        text-decoration: none;
        color: var(--dark);
        margin: 0 55px;
        font-size: 18px;
        line-height: 0px;
    }
    
    .col_50>.button_sm{
        color: var(--light);
        margin-right: 0;
    }
    /* #endregion Header */

    /* #region Main */

    /* #region Section_hero */
    
    .section_hero{
        background-color: var(--bg_hero);
    }
    
    .title_hero{
        font-size: 110px;
        font-weight: bold;
        line-height: 150px;
        letter-spacing: 4px;
    }

    .text_hero{
        font-size: 24px;
        line-height: 35px;
        letter-spacing: 0.4px;
    }

    .text_sub_hero{
        font-size: 18px;
        letter-spacing: 0.6px;
        margin-bottom: 75px;
    }

    .down_arrow{
        width: 50px;
        margin-bottom: 167px;
    }

    .img_jumbo{
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    /* #endregion Section_hero */

    /* #endregion Main */